* {
    box-sizing: border-box;
}

header {
    background-image: url(design/beer-new_401732638.jpg);
    height: 300px;
    background-size:cover;
    font-family: Garamond;
    font-weight: bold;
}

body {
    background-image: url(design/teglafal.jpg);
}

main {
    background-color: #333333;
    width: 80%;
    max-width: 1000px;
    margin: auto;
}

nav ul {
    list-style-type: none;
}

nav li:hover {
    background-color: rgb(orange);
    margin: auto;
}

nav li a {
    text-decoration: none;
    color: beige;
    font-weight: bold;
}

footer {
    text-align: center;
    color: beige;
}




h1, h2, p, th, td {
    font-family: Arial, Verdana, sans-serif;
    color: beige;
    font-size: 10px;
    padding: 0px;
    margin: 0px;
}








/*rácsszerkezet*/
main {
display: grid;
grid-template-columns: 2fr 1fr;
grid-template-areas: 
"h h"
"n n"
"as ar"
"f f";

}

header {
    grid-area: h;
}

nav {
    grid-area: n;
}

aside {
    grid-area: as;
}

article {
    grid-area: ar;
}

footer {
    grid-area: f;
}




/*reszponzivitás telefonon*/
@media only screen and (max-width:700px){
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "h"
    "n"
    "as"
    "ar"
    "f" ; 
    width:150%;
    max-width: 1000px;
    margin: auto;
    /*background-color: rgb(red, green, blue);*/

}

}
